@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @foreach (var user in Model)
    {

        <div style="">
            @if (!string.IsNullOrEmpty(@user.Avatar))
            {
                <img style="height: 100px;" src="/uploads/@user.Avatar" class="img-thumbnail" />
            }
            @user.UserName
            @if (User.IsInRole("Admin"))
            {
                <form asp-action="Delete" asp-route-username="@user.UserName" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            }
        </div>
    }
</div>
